<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalle"></Label>
</ActionBar>

<GridLayout class="page__content">
    <TextField row="0" #texto="ngModel" [(ngModel)]="textFieldValue" hint="Ingresar texto..."></TextField>
        <Button row="3" text="Agregar!" (tap)="onButtonAgregar()"></Button>
        <ListView class="list-group" row="4"  [items]="mails" backgroundColor="lightgray">
            <ng-template let-x="item">
                <FlexboLayout flexDirection="row" class="list-group-item">
                    <GridLayout columns="auto" rows="50" verticalAlignment="top" backgroundColor="lightgray">
                        <Label [text]="x" class="list-group-item-heading"  verticalAligment="center" style="width: 80%;"></Label>
                    </GridLayout>
                </FlexboLayout>
            </ng-template>
        </ListView>
</GridLayout>
