<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Lista"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label [text]="plataforma"></Label>
    <ListView class="list-group" [items]="this.service.buscar()" (itemTap)="onItemTap($event)" style="height: 1250px;">
        <ng-template let-x="item">
            <FlexboLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle"></Image>
                <Label [text]="x" class="list-group-item-heading"
                    verticalAligment="center" style="width: 80%;"></Label>
            </FlexboLayout>
        </ng-template>
    </ListView>
</GridLayout>

